N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=supersecurepassword
N8N_HOST=localhost
N8N_PORT=5678
N8N_PROTOCOL=http
N8N_SECURE_COOKIE=false
N8N_BINARY_DATA_STORAGE_PATH=/home/node/.n8n/binaries
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=n8n
POSTGRES_USER=n8n
POSTGRES_PASSWORD=supersecurepassword
QDRANT_URL=http://qdrant:6333
QDRANT_COLLECTION_NAMES="experiences,skills,education,certifications,languages,summary_info"
QDRANT_VECTOR_SIZE=384
EMBEDDING_MODEL=/models/all-MiniLM-L6-v2
QDRANT_MAX_CHUNK_CHARS=700
QDRANT_CHUNK_OVERLAP_CHARS=120